# YAML-standardized environment bootstrap (apt + pip)

version: 1

apt:
  update: true
  assume_yes: true
  packages:
    - build-essential
    - curl
    - git
    - python3-pip

pip:
  upgrade: true
  user: false
  # index_url: https://pypi.tuna.tsinghua.edu.cn/simple
  # extra_index_urls:
  #   - https://mirrors.aliyun.com/pypi/simple/
  packages:
    - PyYAML>=6.0
    - requests

